{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='styles.css')}}">
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('.static', filename='scripts.js')}}"></script>

{% endblock %}

{% block content %}
<!-- {{ all_config_options }}
<h1>This will be the config config_form.</h1> -->
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>Settings</h2>
    </div>
  </div>
  <div class="row">

<!-- ******************Column fo basic config form******************************-->

    <div class="col-sm-6">
      {% block base_config %}{% endblock %}
    </div>

<!-- ******************Column fo connection form******************************-->

    <div class="col-sm-6">
      {% block connections %}{% endblock %}
    </div>

  </div>
</div>


{% endblock %}
