<!doctype html>
<html>
<head>
  <title>Config Settings</title>
</head>
<body>
  <h1>This will be the config form.</h1>
  <form method="POST" action="{{ url_for('config') }}" class="form form-horizontal" role="form">
    {{ form.csrf_token }}
    {{ form.base_file_path.label }}
    {{ form.base_file_path }}
    <ul>
      {% for error in form.base_file_path.errors %}
        <li>
          {{ error}}
        </li>
      {% endfor %}
    </ul>
    {{ form.database.label }}
    {{ form.database }}
    <ul>
      {% for error in form.database.errors %}
        <li>
          {{ error}}
        </li>
      {% endfor %}
    </ul>
    <input type="submit" value="Submit" />
  </form>
</body>
</html>
