{% extends "config.html" %}

{% block base_config %}
<div class="">
  <form method="POST" action="{{ url_for('config') }}" class="form" role="form">
    {{ config_form.csrf_token }}


<!-- ********************  Default  *****************************************-->
    <div class="">
      <div class="row">
        <div class="col-sm-5">
          <h4>General Settings</h4>
        </div>
        <div class="col-sm-7">
          <a  href="#" id="edit-general-settings">Edit Settings</a>
        </div>
      </div>
      <hr />
      <div class="form-group row">
        <!-- <div class="col-sm-6">
          {{ config_form.default_base_file_path.label }}
        </div> -->
        <!-- <div class="col-sm-3">
          {{ all_config_options["Default"]["base_file_path"] }}
        </div> -->
        <label for="default_base_file_path" class="col-sm-5 col-form-lable">Reports Folder</label>
        <div class="col-sm-7">
          {{ config_form.default_base_file_path(class_="form-control gen-set-field", disabled=True) }}
          <ul>
            {% for error in config_form.default_base_file_path.errors %}
              <li>{{ error}}</li>
            {% endfor %}
          </ul>
        </div>
        <!-- <div class="col-sm-3">
          <button class-"btn">edit</button>
        </div> -->
      </div>
      <div class="form-group row">
        <!-- <div class="col-sm-4">
          {{ config_form.default_query_path.label }}
        </div> -->
        <!-- <div class="col-sm-4">
          {{ all_config_options["Default"]["query_path"] }}
        </div> -->
        <label for="default_query_path" class="col-sm-5 col-form-lable">Queries Folder</label>
        <div class="col-sm-7">
          {{ config_form.default_query_path(class_="form-control gen-set-field", disabled=True) }}
          <ul>
            {% for error in config_form.default_query_path.errors %}
              <li>{{ error}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="form-group row">
        <!-- <div class="col-sm-4">
          {{ config_form.default_database.label }}
        </div> -->
        <!-- <div class="col-sm-4">
          {{ all_config_options["Default"]["database"] }}
        </div> -->
        <label for="default_database" class="col-sm-5 col-form-lable">Default Database</label>
        <div class="col-sm-7">
          {{ config_form.default_database(class_="form-control gen-set-field", disabled=True) }}
          <ul>
            {% for error in config_form.default_database.errors %}
              <li>{{ error}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="form-group row">
        <!-- <div class="col-sm-4">
          {{ config_form.default_notification_recipient.label }}
        </div> -->
        <!-- <div class="col-sm-4">
          {{ all_config_options["Default"]["notification_recipient"] }}
        </div> -->
        <label for="default_notification_recipient" class="col-sm-5 col-form-lable">Default Email Recipient</label>
        <div class="col-sm-7">
          {{ config_form.default_notification_recipient(class_="form-control gen-set-field", disabled=True) }}
          <ul>
            {% for error in config_form.default_notification_recipient.errors %}
              <li>{{ error}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

<!-- **********************  Email  *****************************************-->
    <div class="">
      <h4>Application Email Settings</h4>
      <hr />
      <div class="form-group row">
        <!-- <div class="col-sm-4">
          {{ config_form.email_username.label }}
        </div> -->
        <!-- <div class="col-sm-4">
          {{ all_config_options["Email"]["username"] }}
        </div> -->
        <label for="email_username" class="col-sm-5 col-form-lable">Email Address</label>
        <div class="col-sm-7">
          {{ config_form.email_username(class_="form-control gen-set-field", disabled=True) }}
          <ul>
            {% for error in config_form.email_username.errors %}
              <li>{{ error}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="form-group row">
        <!-- <div class="col-sm-4">
          {{ config_form.email_password.label }}
        </div> -->
        <!-- <div class="col-sm-4">
          {{ all_config_options["Email"]["password"] }}
        </div> -->
        <label for="email_password" class="col-sm-5 col-form-lable">Password</label>
        <div class="col-sm-7">
          {{ config_form.email_password(class_="form-control gen-set-field", disabled=True) }}
          <ul>
            {% for error in config_form.email_password.errors %}
              <li>{{ error}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="form-group row">
        <!-- <div class="col-sm-4">
          {{ config_form.email_host.label }}
        </div> -->
        <!-- <div class="col-sm-4">
          {{ all_config_options["Email"]["host"] }}
        </div> -->
        <label for="email_host" class="col-sm-5 col-form-lable">Host Address</label>
        <div class="col-sm-7">
          {{ config_form.email_host(class_="form-control gen-set-field", disabled=True) }}
          <ul>
            {% for error in config_form.email_host.errors %}
              <li>{{ error}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="form-group row">
        <!-- <div class="col-sm-4">
          {{ config_form.email_disabled.label }}
        </div> -->
        <!-- <div class="col-sm-4">
          {{ all_config_options["Email"]["disabled"] }}
        </div> -->
        <label for="email_disabled" class="col-sm-5 col-form-lable">Email Disabled</label>
        <div class="col-sm-7">
          {{ config_form.email_disabled(class_="form-control gen-set-field", disabled=True) }}
          <ul>
            {% for error in config_form.email_disabled.errors %}
              <li>{{ error}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="form-group row">
        <!-- <div class="col-sm-4">
          {{ config_form.email_signature.label }}
        </div> -->
        <!-- <div class="col-sm-4">
          {{ all_config_options["Email"]["signature"] }}
        </div> -->
        <label for="email_signature" class="col-sm-5 col-form-lable">Email Signature</label>
        <div class="col-sm-7">
          {{ config_form.email_signature(class_="form-control gen-set-field", disabled=True) }}
          <ul>
            {% for error in config_form.email_signature.errors %}
              <li>{{ error}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
<!-- ********************  Logging  *****************************************-->
    <div class="">
      <h4>Logging Settings</h4>
      <hr />
      <div class="form-group row">
        <!-- <div class="col-sm-4">
          {{ config_form.logging_server.label }}
        </div> -->
        <!-- <div class="col-sm-4">
          {{ all_config_options["Logging"]["server"] }}
        </div> -->
        <label for="logging_server" class="col-sm-5 col-form-lable">Logging Server Address</label>
        <div class="col-sm-7">
          {{ config_form.logging_server(class_="form-control gen-set-field", disabled=True) }}
          <ul>
            {% for error in config_form.logging_server.errors %}
              <li>{{ error}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="form-group row">
        <!-- <div class="col-sm-4">
          {{ config_form.logging_db.label }}
        </div> -->
        <!-- <div class="col-sm-4">
          {{ all_config_options["Logging"]["db"] }}
        </div> -->
        <label for="logging_db" class="col-sm-5 col-form-lable">Logging Database Schema</label>
        <div class="col-sm-7">
          {{ config_form.logging_db(class_="form-control gen-set-field", disabled=True) }}
          <ul>
            {% for error in config_form.logging_db.errors %}
              <li>{{ error}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

<!-- **********************  Debug  *****************************************-->
    <div class="">
      <h4>Debug Settings</h4>
      <hr />
      <div class="form-group row">
        <!-- <div class="col-sm-4">
          {{ config_form.debug_mode.label }}
        </div> -->
        <!-- <div class="col-sm-4">
          {{ all_config_options["Debug"]["debug_mode"] }}
        </div> -->
        <label for="debug_mode" class="col-sm-5 col-form-lable">Debug Mode</label>
        <div class="col-sm-7">
          {{ config_form.debug_mode(class_="form-control gen-set-field", disabled=True) }}
          <ul>
            {% for error in config_form.debug_mode.errors %}
              <li>{{ error}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="form-group row">
        <!-- <div class="col-sm-4">
          {{ config_form.debug_recipients.label }}
        </div> -->
        <!-- <div class="col-sm-4">
          {{ all_config_options["Debug"]["debug_recipients"] }}
        </div> -->
        <label for="debug_recipients" class="col-sm-5 col-form-lable">Debug Email Recipients</label>
        <div class="col-sm-7">
          {{ config_form.debug_recipients(class_="form-control gen-set-field", disabled=True) }}
          <ul>
            {% for error in config_form.debug_recipients.errors %}
              <li>{{ error}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

<!-- **********************  Admin  *****************************************-->
    <div class="">
      <h4>Admin Settings</h4>
      <hr />
      <div class="form-group row">
        <!-- <div class="col-sm-4">
          {{ config_form.admin_email.label }}
        </div> -->
        <!-- <div class="col-sm-4">
          {{ all_config_options["Admin"]["admin_email"] }}
        </div> -->
        <label for="admin_email" class="col-sm-5 col-form-lable">Admin Email Recipient</label>
        <div class="col-sm-7">
          {{ config_form.admin_email(class_="form-control gen-set-field", disabled=True) }}
          <ul>
            {% for error in config_form.admin_email.errors %}
              <li>{{ error}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-5">

        </div>
        <div class=" col-sm-7">
          {{ config_form.config_submit(class_="btn btn-primary") }}
        </div>
      </div>
    </div>

  </form>
</div>
{% endblock %}

<!-- ********************  Connections **************************************-->

{% block connections %}
<div class="">
  <form method="POST" action="{{ url_for('config') }}" class="form form-horizontal" role="form">
    {{ config_form.csrf_token }}

    <div class="">
      <div class="row">
        <div class="col-sm-4">
          {{ connection_form.connection_name.label }}
        </div>
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
          {{ connection_form.connection_name }}
          <ul>
            {% for error in config_form.admin_email.errors %}
              <li>{{ error}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          {{ connection_form.connection_submit(class_="btn btn-primary") }}
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}
