{% extends "settings_base.html" %}


{% block base_config %}
<div class="">
  <div class="row">
    <div class="col-sm-5">
      <h4>General Settings</h4>
    </div>
    <div class="col-sm-6">
      <button class='btn btn-primary' id='save-general-settings' style="display:none">Save Settings</button>
      <button class='btn btn-primary' id='edit-general-settings'>Edit Settings</button>
    </div>
  </div>
  <hr />
  <form method="POST" action="{{ url_for('config') }}" class="form" role="form">
    {{ config_form.csrf_token }}


<!-- ********************  Default  *****************************************-->
    <div class="">
      <div class="form-group row">
        <label for="default_base_file_path" class="col-sm-5 col-form-label">Reports Folder</label>
        <div class="col-sm-7">
          <input class="form-control gen-set-field" id="default_base_file_path"
                          name="default_base_file_path" type="text"
                          value= "{{ all_config_options["Default"]["base_file_path"]}}" disabled>
          <ul>
            {% for error in config_form.default_base_file_path.errors %}
              <li>{{ error}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="form-group row">
        <label for="default_query_path" class="col-sm-5 col-form-label">Queries Folder</label>
        <div class="col-sm-7">
          <input class="form-control gen-set-field" id="default_query_path"
                          name="default_query_path" type="text"
                          value= "{{ all_config_options["Default"]["query_path"]}}" disabled>
          <ul>
            {% for error in config_form.default_query_path.errors %}
              <li>{{ error}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="form-group row">
        <label for="default_database" class="col-sm-5 col-form-label">Default Connection</label>
        <div class="col-sm-7">
          <select class="form-control gen-set-field" name="default_database" id="default_database" disabled>
            <option>None Selected</option>
            {% for connection in connections %}
              {% if connection == all_config_options["Default"]["database"]%}
                <option value="{{connection}}" selected>{{connection}}</option>
              {%else%}
                <option value="{{connection}}">{{connection}}</option>
              {%endif%}
            {%endfor%}
          </select>
          <ul>
            {% for error in config_form.default_database.errors %}
              <li>{{ error}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="form-group row">
        <label for="default_notification_recipient" class="col-sm-5 col-form-label">Default Email Recipient</label>
        <div class="col-sm-7">
          <input class="form-control gen-set-field" id="default_notification_recipient"
                          name="default_notification_recipient" type="text"
                          value= "{{ all_config_options["Default"]["notification_recipient"]}}" disabled>
          <ul>
            {% for error in config_form.default_notification_recipient.errors %}
              <li>{{ error}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

<!-- **********************  Email  *****************************************-->
    <div class="">
      <h4>Application Email Settings</h4>
      <hr />
      <div class="form-group row">
        <label for="email_username" class="col-sm-5 col-form-label">Email Address</label>
        <div class="col-sm-7">
          <input class="form-control gen-set-field" id="email_username"
                          name="email_username" type="text"
                          value= "{{ all_config_options["Email"]["username"]}}" disabled>
          <ul>
            {% for error in config_form.email_username.errors %}
              <li>{{ error}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="form-group row">
        <label for="email_password" class="col-sm-5 col-form-label">Password</label>
        <div class="col-sm-7">
          <input class="form-control gen-set-field" id="email_password"
                          name="email_password" type="text"
                          placeholder= "xxxx" disabled>
          <ul>
            {% for error in config_form.email_password.errors %}
              <li>{{ error}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="form-group row">
        <label for="email_host" class="col-sm-5 col-form-label">Host Address</label>
        <div class="col-sm-7">
          <input class="form-control gen-set-field" id="email_host"
                          name="email_host" type="text"
                          value= "{{ all_config_options["Email"]["host"]}}" disabled>
          <ul>
            {% for error in config_form.email_host.errors %}
              <li>{{ error}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="form-group row ">
        {% if all_config_options['Email']['disabled'] == 'Yes'%}
          {% set y_email_checked = 'checked' %}
        {% elif all_config_options['Email']['disabled'] == 'No'%}
          {% set n_email_checked = 'checked' %}
        {% endif %}
        <label for="email_disabled" class="col-sm-5 col-form-label">Email Disabled</label>
        <div class="col-sm-7">
          <div class='form-check disabled'>
            <label class="form-check-label">
              <input type="radio" class="form-check-input gen-set-field" name="email_disabled" id="email_disabled_y" value="Yes" disabled {{ y_email_checked }}/>
              Yes
              <input type="radio" class="form-check-input gen-set-field" name="email_disabled" id="email_disabled_n" value="No" disabled {{ n_email_checked }}/>
              No
            </label>
          </div>
          <ul>
            {% for error in config_form.email_disabled.errors %}
              <li>{{ error}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="form-group row">
        <label for="email_signature" class="col-sm-5 col-form-label">Email Signature</label>
        <div class="col-sm-7">
          <input class="form-control gen-set-field" id="email_signature"
                          name="email_signature" type="text"
                          value= "{{ all_config_options["Email"]["signature"]}}" disabled>
          <ul>
            {% for error in config_form.email_signature.errors %}
              <li>{{ error}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
<!-- ********************  Logging  *****************************************-->
    <div class="">
      <h4>Logging Settings</h4>
      <hr />
      <div class="form-group row">
        <label for="logging_server" class="col-sm-5 col-form-label">Logging Server Address</label>
        <div class="col-sm-7">
          <select class="form-control gen-set-field" name="logging_server" id="logging_server" disabled>
            <option>None Selected</option>
            {% for connection in connections %}
              {% if connection == all_config_options["Logging"]["server"]%}
                <option value="{{connection}}" selected>{{connection}}</option>
              {%else%}
                <option value="{{connection}}">{{connection}}</option>
              {%endif%}
            {%endfor%}
          </select>
          <ul>
            {% for error in config_form.logging_server.errors %}
              <li>{{ error}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="form-group row">
        <label for="logging_db" class="col-sm-5 col-form-label">Logging Database Schema</label>
        <div class="col-sm-7">
          <input class="form-control gen-set-field" id="logging_db"
                          name="logging_db" type="text"
                          value= "{{ all_config_options["Logging"]["db"]}}" disabled>
          <ul>
            {% for error in config_form.logging_db.errors %}
              <li>{{ error}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

<!-- **********************  Debug  *****************************************-->
    <div class="">
      <h4>Debug Settings</h4>
      <hr />
      <div class="form-group row">
        {% if all_config_options['Debug']['debug_mode'] == 'Yes'%}
          {% set y_debug_checked = 'checked' %}
        {% elif all_config_options['Debug']['debug_mode'] == 'No'%}
          {% set n_debug_checked = 'checked' %}
        {% endif %}
        <label for="debug_mode" class="col-sm-5 col-form-label">Debug Mode</label>
        <div class="col-sm-7">
          <div class='form-check disabled'>
            <label class="form-check-label">
              <input type="radio" class="form-check-input gen-set-field" name="debug_mode" id="debug_mode_y" value="Yes" disabled {{ y_debug_checked }}/>
              Yes
              <input type="radio" class="form-check-input gen-set-field" name="debug_mode" id="debug_mode_n" value="No" disabled {{ n_debug_checked }}/>
              No
            </label>
          </div>
          <ul>
            {% for error in config_form.debug_mode.errors %}
              <li>{{ error}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="form-group row">
        <label for="debug_recipients" class="col-sm-5 col-form-label">Debug Email Recipients</label>
        <div class="col-sm-7">
          <input class="form-control gen-set-field" id="debug_recipients"
                          name="debug_recipients" type="text"
                          value= "{{ all_config_options["Debug"]["debug_recipients"]}}" disabled>
          <ul>
            {% for error in config_form.debug_recipients.errors %}
              <li>{{ error}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

<!-- **********************  Admin  *****************************************-->
    <div class="">
      <h4>Admin Settings</h4>
      <hr />
      <div class="form-group row">
        <label for="admin_email" class="col-sm-5 col-form-label">Admin Email Recipient</label>
        <div class="col-sm-7">
          <input class="form-control gen-set-field" id="admin_email"
                          name="admin_email" type="text"
                          value= "{{ all_config_options["Admin"]["admin_email"]}}" disabled>
          <ul>
            {% for error in config_form.admin_email.errors %}
              <li>{{ error}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-5">

        </div>
        <div class=" col-sm-3">
          <input class="btn btn-primary gen-set-field" id="config_submit"
              name="config_submit" type="submit" value="Save Settings"
              style="display:none" disabled>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}


<!-- ************************************************************************-->
<!-- ********************  Connections **************************************-->
<!-- ************************************************************************-->

{% block connections %}
<div class="">
  <div class="row">
    <div class="col-sm-5">
      <h4>Connections</h4>
    </div>
    <div class="col-sm-7">
      <button class='btn btn-primary' id='add-connection'>Add Connection</button>
    </div>
  </div>
  <hr />
  <form method="POST" action="{{ url_for('config') }}" class="form form-horizontal" id="connection-form" role="form" style="display:none">
    {{ config_form.csrf_token }}

    <input id="delete_connection" name="delete_connection" type="text" value="False" style="display:none" >

    <div class="form-group row">
      <label for="connection_name" class="col-sm-5 col-form-label">Connection Name</label>
      <div class="col-sm-7">
        <input class="form-control gen-set-field" id="connection_name" name="connection_name" type="text" value="">
        <ul>
          {% for error in connection_form.connection_name.errors %}
            <li>{{ error}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="form-group row">
      <label for="rdbms" class="col-sm-5 col-form-label">Database System Type</label>
      <div class="col-sm-7">
        <!-- <input class="form-control gen-set-field" id="rdbms" name="rdbms" type="text" value=""> -->
        <select class="form-control gen-set-field" name="rdbms" id="rdbms">
          {% for option in rdbms_options%}
            <option value="{{option}}">{{option}}</option>
          {%endfor%}
        </select>
        <ul>
          {% for error in connection_form.rdbms.errors %}
            <li>{{ error}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="form-group row">
      <label for="connection_host" class="col-sm-5 col-form-label">Connection Address</label>
      <div class="col-sm-7">
        <input class="form-control gen-set-field" id="connection_host" name="connection_host" type="text" value="">
        <ul>
          {% for error in connection_form.connection_host.errors %}
            <li>{{ error}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="form-group row">
      <label for="connection_port" class="col-sm-5 col-form-label">Connection Port</label>
      <div class="col-sm-7">
        <input class="form-control gen-set-field" id="connection_port" name="connection_port" type="text" value="">
        <ul>
          {% for error in connection_form.connection_port.errors %}
            <li>{{ error}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="form-group row">
      <label for="connection_user" class="col-sm-5 col-form-label">User Name</label>
      <div class="col-sm-7">
        <input class="form-control gen-set-field" id="connection_user" name="connection_user" type="text" value="">
        <ul>
          {% for error in connection_form.connection_user.errors %}
            <li>{{ error}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="form-group row">
      <label for="connection_password" class="col-sm-5 col-form-label">Password</label>
      <div class="col-sm-7">
        <input class="form-control gen-set-field" id="connection_password" name="connection_password" type="text" placeholder="xxxx">
        <ul>
          {% for error in connection_form.connection_password.errors %}
            <li>{{ error}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="form-group row">
      <label for="schema" class="col-sm-5 col-form-label">Schema</label>
      <div class="col-sm-7">
        <input class="form-control gen-set-field" id="schema" name="schema" type="text" value="">
        <ul>
          {% for error in connection_form.schema.errors %}
            <li>{{ error}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-5"></div>
      <div class="col-sm-7">
        {{ connection_form.connection_submit(class_="btn btn-primary") }}
      </div>
    </div>
  </form>


  {% for connection in connections %}
    <div class="panel panel-primary">
      <div class="panel-heading">
          <div class="row">
            <div class="col-sm-6">
              <h4 class="panel-title">{{ connection }}</h4>
            </div>
            <div class="col-sm-6" >
              <div class="connection-buttons btn-group" role="group">
                {% set test_id = "test-" + connection %}
                <button type="button" class="btn btn-default btn-sm test-connection" id= "{{ test_id }}">Test Connection</button>
                {% set edit_id = "edit-" + connection %}
                <button type="button" class="btn btn-default btn-sm edit-connection" id= "{{ edit_id }}">Edit</button>
                {% set delete_id = "delete-" + connection %}
                <button type="button" class="btn btn-default btn-sm delete-connection" id= "{{ delete_id }}">Delete</button>
              </div>
            </div>
          </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <label class="col-sm-5 col-form-label">Database System</label>
          <div class="col-sm-7">
            {{ all_config_options[connection]["rdbms"]}}
          </div>
        </div>
        <div class="row">
          <label class="col-sm-5 col-form-label">Connection Address</label>
          <div class="col-sm-7">
            {{ all_config_options[connection]["host"]}}
          </div>
        </div>
        <div class="row">
          <label class="col-sm-5 col-form-label">Port</label>
          <div class="col-sm-7">
            {{ all_config_options[connection]["port"]}}
          </div>
        </div>
        <div class="row">
          <label class="col-sm-5 col-form-label">User Name</label>
          <div class="col-sm-7">
            {{ all_config_options[connection]["user"]}}
          </div>
        </div>
        <div class="row">
          <label class="col-sm-5 col-form-label">Password</label>
          <div class="col-sm-7">
            xxxx
          </div>
        </div>
        <div class="row">
          <label class="col-sm-5 col-form-label">Schema</label>
          <div class="col-sm-7">
            {{ all_config_options[connection]["schema"]}}
          </div>
        </div>
      </div>
    </div>

  {% endfor %}


</div>
{% endblock %}
